*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html, body {
    height:100%
}

.app{
    height: 98%;
    display: grid;
    grid-template-rows: 60px 1fr 20px;
}

.footer{
    text-align: center;
}

.body{
    display: grid;
    grid-gap: 30px;
    background: #efefef;
    grid-template-columns: repeat(12, 1fr);
}

.header{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(12, 1fr);
    div{
        &.logo{
            grid-column-start:6;
            grid-column-end:8;
            background: url('../../src/assets/logo/logo.svg') no-repeat center;
            background-size: auto 40px;
        }
        &.user{
            grid-column-start: 10;
            grid-column-end: 11;
            img{
                width:40px;
                height:40px;
                border-radius: 50%;
            }
        }
    }
}