@import '../../src/components/dialog/dialog.less';

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

button{
    border:0;
    height:30px;
    font-size: 14px;
    background: #00b4cf;
    color:#fff;
    padding:3px 10px;
    cursor: pointer;
    &::before{
        margin-right: 5px;
    }
    &:hover{
        background: #01869a;
    } 
}

dialog{
    border:0;
    color:#666;
}

html {
    height:100%
}

.app{
    display: grid;
    grid-template-rows: 60px 1fr 20px;
}

.footer{
    text-align: center;
}

.body{
    display: grid;
    grid-gap: 25px;
    background: #efefef;
    grid-template-columns: 1fr 3fr 7fr 1fr;
    height: calc(100vh - 80px);
    min-height: 500px;
}

.header{
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(12, 1fr);
    div{
        &.logo{
            grid-column-start:6;
            grid-column-end:8;
            background: url('../../src/assets/logo/logo.svg') no-repeat center;
            background-size: auto 40px;
        }
        &.user{
            grid-column-start: 11;
            grid-column-end: 12;
            align-self: center;
            text-align: center;
            img{
                width:40px;
                height:40px;
                border-radius: 50%;
            }
        }
    }
}

.overflowStyle{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}