@import './media.less';
@import '../../src/components/dialog/dialog.less';


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

button{
    border:0;
    height:30px;
    font-size: 14px;
    background: #00b4cf;
    color:#fff;
    padding:3px 10px;
    cursor: pointer;
    &.info{
        background: #435466;
    }
    &.info:hover{
        background: #2d4054;
    }
    &::before{
        margin-right: 5px;
    }
    &:hover{
        background: #01869a;
    } 
}

dialog{
    border:0;
    color:#666;
    z-index: 9999;
    position: absolute;
}

.cover{
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
    filter: alphha(opacity = 60);
    opacity: 0.6;
    display: none;
    z-index: 9998;
    background: rgba(0, 0, 0, .4);
    &.display{
        display: block;
    }
}

html {
    height:100%
}

.app{
    display: grid;
    grid-template-rows: 60px 1fr 20px;
}

.footer{
    text-align: center;
}

.body{
    display: grid;
    background: #efefef;
    // grid-template-columns: 1fr 3fr 7fr 1fr;
    height: calc(100vh - 82px);
    min-height: 500px;
}

.header{
    display: grid;
    div{
        &.logo{
            background: url('../../src/assets/logo/logo.svg') no-repeat center;
            background-size: auto 40px;
        }
        &.user{
            align-self: center;
            text-align: center;
            img{
                width:40px;
                height:40px;
                border-radius: 50%;
            }
        }
    }
}

.overflowStyle{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}