/* Phone */
@media only screen and (max-width: 767px) {

}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width:1023px){
    
}

/* Desktop*/
@media screen and (min-width: 1024px) and (max-width:1199px){
    .body{
        grid-template-columns: 4fr 8fr 0;
        grid-gap: 10px;
        .accordion{
            grid-column-start: 1;
        }
        .context{
            grid-column-start:2;
            &>div{
                width:100%;
            }
        }
    }
    .header{
        .user{
            grid-column-start: 12;
        }
    }
} 

/* Desktop HD*/
@media only screen and (min-width: 1200px){
    .body{
        grid-template-columns: 1fr 3fr 7fr 1fr;
        grid-gap: 25px;
        .accordion{
            grid-column-start: 2;
        }
        .context{
            grid-column-start:3;
            &>div{
                width:calc(~"100% + 18px");
                margin-right: 18px;
                .stat_card{
                    grid-template-rows: 1fr 1fr;
                    .stat_card_title{
                        grid-template-columns: repeat(3, 1fr);
                    }
                    .stat_card_stat{
                        grid-template-columns: repeat(3, 1fr);
                    }
                }
            }
        }
    }
    .header{
        .user{
            grid-column-start: 11;
        }
    }
} 