.context{
    grid-column-start: 3;
    grid-gap: 20px;
    display: grid;
    overflow: hidden;
    &>div{
        overflow-y: auto;
        width:calc(~"100% + 18px");
        padding: 20px 0;
        margin-right: 18px;
        .show_context{
            display: grid;
            grid-template-rows: 120px 50px;
            grid-gap: 20px;
        }
    }
}

.show_card{
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.show_list{
    // grid-row-start: 2;
    // grid-row-end: 5;
    // background: #fff;
    // grid-row-gap: 20px;
}

.show_list_toptab{
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    align-items: center;
    grid-auto-rows: 50px;
    grid-template-columns: repeat(3, 100px) 3fr 1fr;
    grid-gap: 5px;
    background: #fff;
    div{
        text-align: center;
        border-right: 2px solid #f3f3f3;
        line-height: 50px;
    }
   
    label{
        background:#f3f3f3;
        color: #435466;
        padding-left: 10px;
        vertical-align: middle;
        border: 1px solid #e1e4e6;
        width: 200px;
        font-size: 20px;
        &::before{
            line-height: 30px;
        }
    }

    input{
        border:0;
        background:#f3f3f3;
        height: 30px;
        line-height: 30px;
        width: calc(100% - 20px);
        height: 30px;
        border: 0px;outline:none;
    }

}

.show_list_table{
    grid-row-start: 2;
    grid-row-end: 7;
}

.buiding_card{
    font-size: 120px;
    text-align: center;
    color: rgba(243, 243, 243, 0.2);
    background: #ff9a2a;
}

.idle_card{
    font-size: 120px;
    text-align: center;
    color: rgba(243, 243, 243, 0.2);
    background: #7fbc39;
}

.stat_card{
    background: #f3f3f3;
    align-items: center;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.stat_card_title{
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 12px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    p{
        text-align: center;
    }
}

.stat_card_stat{
    font-size: 20px;
    grid-row-start: 2;
    grid-row-end: 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    p{
        text-align: center;
    }
}

.list_item_index{
    height: 100px;
    display: grid;
    background: #f3f3f3;
    grid-column-gap: 20px;
    grid-template-columns: repeat(10, 1fr);
}

.item_type_icon{
    background: url('../../assets/os_icons/windows.png') no-repeat center;
    background-size: 100%;
}

.item_info{
    grid-column-start: 2;
    grid-column-end: 11;
    display: grid;
    align-items: center;
    grid-template-rows: repeat(2, 1fr);
}

.item_info_top{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(8, 1fr);
}

.item_info_operation{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}

.item_info_top_link{
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 20px;
    a{
        padding: 0 0 0 5px;
        font-size: 14px;
    }
}

.item_info_top_badges{
    text-align: center;
    p{
        background: #7fbc39;
        font-size: 14px;
        color: #f3f3f3;
    }
}
.item_info_top_ip{
    grid-column-start: 5;
    grid-column-end: 7;
    padding: 0 0 0 10px;
}

.item_info_top_folder{
    grid-column-start: 7;
    grid-column-end: 9;
    padding: 0 0 0 10px;
}