@import (reference) "~../../../static/css/common.less";

.context{
    grid-column-start: 3;
    grid-gap: 20px;
    display: grid;
    overflow: hidden;
    &>div{
        overflow-y: auto;
        width:calc(~"100% + 18px");
        padding: 20px 0;
        margin-right: 18px;
        .show_context{
            display: grid;
            grid-template-rows: 120px 50px;
            grid-gap: 20px;
        }
    }
}

.show_card{
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.show_list{
    // grid-row-start: 2;
    // grid-row-end: 5;
    // background: #fff;
    // grid-row-gap: 20px;
    display: grid;
    grid-gap: 20px;
}

.show_list_toptab{
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 100px) 3fr 1fr;
    grid-gap: 5px;
    background: #fff;
    color: #666;
    div{
        text-align: center;
        border-right: 2px solid #f3f3f3;
        line-height: 50px;
        font-size: 13px;
        &.show_list_card{
            font-size: 22px;
            cursor: pointer;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: nowrap;
        }
    }
   
    label{
        background:#f3f3f3;
        padding-left: 10px;
        vertical-align: middle;
        border: 1px solid #e1e4e6;
        width: 200px;
        font-size: 20px;
        height: 30px;
        position: relative;
        &::before{
            line-height: 28px;
        }
        input{
            border:0;
            background:#f3f3f3;
            position: absolute;
            left:35px;
            top:0;
            width: calc(100% - 40px);
            height: 28px;
            line-height: 28px;
            border: 0px;
            outline:none;
            color:#666;
        }
    }
}

.show_list_table{
    background: #efefef;
    display: table;
    .list_item{
        margin-bottom: 20px;
    }
}

.buiding_card{
    font-size: 120px;
    text-align: center;
    color: rgba(243, 243, 243, 0.2);
    background: #ff9a2a;
}

.idle_card{
    font-size: 120px;
    text-align: center;
    color: rgba(243, 243, 243, 0.2);
    background: #7fbc39;
}

.stat_card{
    background: #f3f3f3;
    align-items: center;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.stat_card_title{
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 12px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    p{
        text-align: center;
    }
}

.stat_card_stat{
    font-size: 20px;
    grid-row-start: 2;
    grid-row-end: 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    p{
        text-align: center;
    }
}

.list_item_index{
    height: 100px;
    display: grid;
    background: #fff;
    grid-column-gap: 20px;
    grid-template-columns: 80px 1fr;
}

.item_type_icon{
    background: url('../../assets/os_icons/windows.png') no-repeat center;
    background-size: 100%;
}

.item_info{
    display: grid;
    font-size: 14px;
    grid-template-rows: 50px 1fr;
}

.item_info_top{
    display: grid;
    align-items: center;
    grid-template-columns:6fr 100px 2fr 2fr;
    font-size: 14px;
    &>div:extend(.overflowStyle),&>a:extend(.overflowStyle){
        height:20px;
        line-height: 20px;
        margin: 0 10px 0 0;
        display: flex;
    }
    &>div::before,&>a::before{
        font-size: 22px;
        font-weight: normal;
        color:#999;
        margin-right: 6px;
    }
}

.item_info_operation{
    display: grid;
    align-items: center;
    grid-template-columns: 35px 1fr 100px;
    span.icon-plus{
        background: #00b4cf;
        color:#fff;
        font-size: 18px;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
        position: relative;
    }
    .item_info_operation_envs{
        p{
            background: #efefef;
            padding: 0 5px;
            margin:0 3px 3px;
            display: inline-block;
            line-height: 30px;
            height:30px;
            span{
                margin-left: 5px;
                cursor: pointer;
                &:hover{
                    color:#00b4cf;
                }
            }
        }
    }
    .icon-deny{
        display: none;
    }
    .icon-deny.icon-deny-show{
        display: block;
    }
}

.item_info_top_link{
    display: inline-block;
    color:#00b4cf;
    margin-left: 10px;
    font-weight: 600 !important;
}

.item_info_top_badge{
    background: #7fbc39;
    font-size: 14px;
    color: #f3f3f3;
    text-align: center;
    display: inline-block !important;
    width:80%;
    &.building{
        background: #ff9a2a;
    }
}
.item_info_top_ip{
    // grid-column-start: 5;
    // grid-column-end: 7;
    padding: 0 0 0 10px;
}

.item_info_top_folder{
    // grid-column-start: 7;
    // grid-column-end: 9;
    padding: 0 0 0 10px;
}