@import (reference) "~../../../static/css/common.less";

.context{
    grid-gap: 20px;
    display: grid;
    overflow: hidden;
    &>div{
        overflow-y: auto;
        .show_context{
            display: grid;
        }
    }
}

.show_card{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    .buiding_card,.idle_card{
        color: #f3f3f3;
        background: #ff9a2a;
        display: flex;
        align-items: flex-start;
        font-size: 18px;
        font-weight: bold;
        justify-content: space-between;
        padding:10px;
        position: relative;
        &::before{
            position: absolute;
            color:rgba(255, 255, 255, .2);
            left:50%;
            top:50%;
            transform: translate(-50%,-50%);
        }
        span:nth-child(2){
            align-self: flex-end;
            font-size: 48px;
            font-weight: normal;
        }
    }
    .buiding_card.icon-cog{
        @keyframes spin {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }
        &::before{
            left:25%;
            transition: transform 2s linear;
            animation: spin 2s linear infinite;
        }
    }
    
    .idle_card{
        background: #7fbc39;
    }
    
    .stat_card{
        background: #fff;
        align-items: center;
        display: grid;
        padding:10px;
        &>div{
            font-size: 12px;
            display: grid;
            &.stat_card_stat{
                font-size: 20px;
            }
            span{
                display: inline-block;
            }
        }
    }
}

.show_list{
    display: grid;
}

.show_list_toptab{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-gap: 5px;
    background: #fff;
    color: #666;
    div{
        width: 100%;
        &.show_list_tab{
            display: grid;
            grid-auto-flow: column;
            line-height: 50px;
            text-align: center;
            grid-template-columns: 1fr 1fr 1fr;
            span{
                display: inline-block;
                grid-auto-flow: column;
                grid-gap: 5px;
                border: 2px solid #f3f3f3;
                border-right: 0;
                cursor: pointer;
                &:hover{
                    border-bottom: 2px solid #00b4cf;
                    color:#00b4cf;
                }
            }
        }
        &.show_list_card{
            font-size: 22px;
            cursor: pointer;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: nowrap;
        }
    }
   
    label{
        background:#f3f3f3;
        padding-left: 10px;
        vertical-align: middle;
        border: 1px solid #e1e4e6;
        font-size: 20px;
        height: 30px;
        position: relative;
        
        &::before{
            line-height: 28px;
        }
        input{
            border:0;
            background:#f3f3f3;
            position: absolute;
            left:35px;
            top:0;
            width: calc(100% - 40px);
            height: 28px;
            line-height: 28px;
            border: 0px;
            outline:none;
            color:#666;
        }
    }
}

.show_list_table{
    background: #efefef;
    display: table;
}

.list_item_index{
    min-height: 100px;
    display: grid;
    background: #fff;
}

.item_type_icon{
    background-size: 100%;
    align-self: center;
}

.item_info{
    display: grid;
    font-size: 14px;
}

.item_info_top{
    display: grid;
    align-items: center;
    font-size: 14px;
    &>div:extend(.overflowStyle),&>a:extend(.overflowStyle){
        height:20px;
        line-height: 20px;
        margin: 0 10px 0 0;
        position: relative;
        padding-left:30px;
        &::before{
            font-size: 22px;
            font-weight: normal;
            color:#999;
            margin-right: 6px;
            position: absolute;
            left:0;
        }
    }
}

.item_info_operation{
    display: grid;
    span.icon-plus{
        background: #00b4cf;
        color:#fff;
        font-size: 18px;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
        position: relative;
    }
    .item_info_operation_envs{
        p{
            background: #efefef;
            padding: 0 5px;
            margin:0 3px 3px;
            display: inline-block;
            line-height: 30px;
            height:30px;
            span{
                margin-left: 5px;
                cursor: pointer;
                &:hover{
                    color:#00b4cf;
                }
            }
        }
    }
    .icon-deny{
        display: none;
    }
    .icon-deny.icon-deny-show{
        display: block;
    }
}

.item_info_top_link{
    display: inline-block;
    color:#00b4cf;
    margin-left: 10px;
    font-weight: 600 !important;
}

.item_info_top_badge{
    background: #7fbc39;
    font-size: 14px;
    color: #f3f3f3;
    text-align: center;
    padding: 0 !important;
    &.building{
        background: #ff9a2a;
    }
}
.item_info_top_ip{
    // grid-column-start: 5;
    // grid-column-end: 7;
    padding: 0 0 0 10px;
}

.item_info_top_folder{
    // grid-column-start: 7;
    // grid-column-end: 9;
    padding: 0 0 0 10px;
}