<div class = 'show_card'>
        <div id = 'buiding_card' class = 'buiding_card icon-cog'></div>
        <div id = 'idle_card' class = 'idle_card icon-coffee'></div>
        <div id = 'stat_card' class = 'stat_card'>
            <div class = "stat_card_title">
                <p>ALL</p>
                <p>PHYSICAL</p>
                <p>VIRTUAL</p>
            </div>
            <div class = "stat_card_stat">
                <p>8</p>
                <p>4</p>
                <p>4</p>
            </div>
        </div>
</div>
<div class = 'show_list'>
        <div id = 'show_list_toptab' class = 'show_list_toptab'>
                <div class='show_list_tab'>
                    <span>ALL</span>
                    <span>PHYSICAL</span>
                    <span>VIRTUAL</span>
                </div>
                <label class='icon-search' for='search'><input type="text" id='search' autocomplete="off"/></label>
                <div class='show_list_card'> 
                    <span class='icon-th-card'></span>
                    <span class='icon-th-list'></span>
                </div>
        </div>
        <div id = 'show_list_table' class = 'show_list_table'></div>
</div>