<div class = 'list_item_index'>
    <div class = 'item_type_icon'></div>
    <div class = 'item_info'>
        <div class = 'item_info_top'>
           <a class = 'item_info_top_link icon-desktop'></a>
           <div class = 'item_info_top_badge'></div>
           <div class = 'item_info_top_ip icon-info'></div>
           <div class = 'item_info_top_folder icon-folder'></div>
        </div>
        <div class = 'item_info_operation'>
            <span class='icon-plus'></span>
            <div class = 'item_info_operation_envs'></div>
            <button class='icon-deny'>deny</button>
        </div>
    </div>
</div>