<div class = 'list_item_index'>
    <div class = 'item_type_icon'></div>
    <div class = 'item_info'>
        <div class = 'item_info_top'>
           <div class = 'item_info_top_link icon-desktop' ><a>www.baidu.com</a></div>
           <div class = 'item_info_top_badges'><p>idle</p></div>
           <div class = 'item_info_top_ip icon-info'>  192.168.1.1</div>
           <div class = 'item_info_top_folder icon-folder'>  /var/opt/oss</div>
        </div>
        <div class = 'item_info_operation'>
            world
        </div>
    </div>
</div>