<div>
    <dialog id='addDialog' class="addDialog">
        <div class='triangle'></div>
        <span class='icon-close' id='close'></span>
        <label for='input'>Separate multiple name with commas</label>
        <input type="text" id='input' placeholder="e.g. Chrome,Firefox" autocomplete="off"/>
        <div class='addDialog_btn'>
            <button id='confirm'>Add Resources</button>
            <button class='info' id='cancel'>Cancel</button>
        </div>
    </dialog>
    <div id='cover' class='cover'></div>
</div>