.overflowStyle{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.accordion{
    background: #2d4054;
    grid-column-start: 2;
    grid-column-end: 4;
    display: grid;
    // padding: 20px 20px;
    grid-template-rows: repeat(6, 45px) 1fr;
}

.accordion_item_div{
   line-height: 45px;
   height: 45px;
    &:hover{
        cursor: pointer;
        background: #435466;
    }
}

.accordion_item:extend(.overflowStyle){
    width: calc(~"100% - 20px");
    height:45px;
    line-height: 45px;
    color: #f3f3f3;
    &:hover{
        cursor: pointer;
        background: #435466;
        color: #00b4cf;
    }
    
}

.history{
    grid-row-start: 7;
    color: #f3f3f3;
}